USE [MyDatabase]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 12-08-2026 06:41:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[id] [int] NOT NULL,
	[first_name] [varchar](50) NOT NULL,
	[country] [varchar](50) NULL,
	[score] [int] NULL,
 CONSTRAINT [PK_customers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 12-08-2026 06:41:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[order_date] [date] NULL,
	[sales] [int] NULL,
 CONSTRAINT [PK_orders] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[customers] ([id], [first_name], [country], [score]) VALUES (1, N'Maria', N'Germany', 350)
INSERT [dbo].[customers] ([id], [first_name], [country], [score]) VALUES (2, N' John', N'USA', 900)
INSERT [dbo].[customers] ([id], [first_name], [country], [score]) VALUES (3, N'Georg', N'UK', 750)
GO
INSERT [dbo].[orders] ([order_id], [customer_id], [order_date], [sales]) VALUES (1001, 1, CAST(N'2021-01-11' AS Date), 35)
INSERT [dbo].[orders] ([order_id], [customer_id], [order_date], [sales]) VALUES (1002, 2, CAST(N'2021-04-05' AS Date), 15)
INSERT [dbo].[orders] ([order_id], [customer_id], [order_date], [sales]) VALUES (1003, 3, CAST(N'2021-06-18' AS Date), 20)
GO
